{# templates/api/profile/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div
		class="container py-4">
		{# Flash #}
		<div id="switch-flash" class="alert alert-warning d-none mt-2"></div>

		{# Bannière driver/passager #}
		{% include 'api/profile/components/_banner.html.twig' %}

		<div id="profile-box" data-url="{{ path('app_profile', { id: userId }) }}">
			{% include 'api/profile/components/_user.html.twig' %}
			{% include 'api/profile/components/_vehicles.html.twig' %}
{% include 'api/profile/components/_carpoolings.html.twig' %}

		</div>
	</div>

	{# Modal ajout véhicule #}
{% include 'api/profile/components/_add_vehicle_modal.html.twig' %}


{# JS #}
	 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


	 <script>
	  window.PROFILE_ROUTES = {
	    profileUrl: "{{ path('app_profile', { id: userId }) }}",
	    switchRoleUrl: "{{ path('me_switch_role') }}",
	    vehicleCreateUrl: "{{ path('api_vehicle_create') }}"
	  };
	</script>


	 <script src="{{ asset('js/profile.js') }}"></script>


{% endblock %}

